
@{
    ViewBag.Title = "Index";
}
@section styles{
    <link rel="stylesheet" href="~/Content/logon.css" />   
}

<div class="wrapper">
    <div class="container">
        <h2>陶店铺登陆系统</h2>

        <form class="form">
            <input type="text" placeholder="用户名" autocomplete="off">
            <input type="password" placeholder="密码" autocomplete="off">
            <button type="submit" id="login-button">登陆</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
@section scripts{
    <script src="~/Scripts/logon.js"></script>
}


